server {
    listen 8080;
    listen [::]:8080;

    server_name _;
    root /var/www/telemetry;

    index metrics.json;

    location / {
        try_files $uri /metrics.json;

        default_type application/json;
        add_header Access-Control-Allow-Origin "*";
        add_header Cache-Control "no-store, no-cache, must-revalidate";
    }
}
